<div style="padding:2em 10%;color:#b3b3b1;width:420px;margin:0 auto;font-size:14px";>
	<img style="display:block;width:100px;margin:0 auto" src="https://cdn.jsdelivr.net/gh/zc998800/cdn/image/dorcandy.jpg">
	<p style="text-align:center;">Hi，<span style="color:#3eae5f"> 可爱的 <%=pname%> </span></p>
	<p style="font-size:13px;text-align:center;">有人回复了您在 <strong style="font-weight:bold">「 <%=siteName%> 」</strong> 上的评论</p>
	<hr style="width:64px;border:0;border-bottom:1px solid #e5e5e5;margin:24px auto;">
	<div style="color:#333;overflow:hidden;">
		<p style="display:inline-block;float:left;"><span style="color:#3eae5f;font-weight:bold"> 大佬您 </span><span>说到：</span></p>
		<%-ptext%>
	</div>
<div style="line-height:24px;font-size:13px;">
    <p><span style="color:#3eae5f"> <%=name%> </span> 回复到：</p>
		<%-text%>
</div>
	<p><a style="color:#ffffff;text-decoration:none;display:inline-block;min-height:28px;line-height:28px;padding:0 13px;outline:0;background:#3eae5f;font-size:13px;text-align:center;font-weight:400;border:0;border-radius:999em" href="<%=url%>#post-comment" target="_blank">点击查看回复哦</a></p>
	<hr style="width:64px;border:0;border-bottom:1px solid #e5e5e5;margin:24px auto;">
	<p><a style="display:block;color:#b3b3b1;text-decoration:none;text-align:center;" href="${SITE_URL}" target="_blank"><%=siteName%></a></p>
</div>
